<main id="main" class="main-page">
  <div class="container">
	<div class="row">
	  <div class="col-12">
		<h1 class="my-4">Contact requests</h1>
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col">date</th>
					<th scope="col">name</th>
					<th scope="col">email</th>
					<th scope="col">del</th>
				</tr>
			</thead>
			<tbody>
			<repeat group="{{ @contacts }}" value="{{ @contact }}">
				<tr onclick="window.document.location='/{{ @adminpage }}/contact/{{ @contact.id }}';" style="cursor: pointer;">
					<td>{{ @contact.time_set }}</td>
					<td>{{ @contact.name  }}</td>
					<td>{{ @contact.email }}</td>
					<td><a href="/{{ @adminpage }}/contact/{{ @contact.id }}/remove" class="delete_confirm">delete</a></td>
				</tr>
			</repeat>
			</tbody>
		</table>
	  </div>
	</div>
  </div>
</main>