<main id="main" class="main-page">
  <div class="container">
	<div class="row">
	  <div class="col-12 ">
		<h1 class="my-4">News items</h1>
		<table class="table table-striped table-bordered">
		<thead><tr>
		<td>date</td>
		<td>title</td>
		<td>spec</td>
		<td>published</td>
		</tr></thead>
		<repeat group="{{ @news }}" value="{{ @newsitem }}">
		<tr onclick="window.document.location='/{{ @adminpage }}/news/{{ @newsitem->id }}';" style="cursor: pointer;">
			<td>{{ @newsitem->created_at }}</td>
			<td>{{ @newsitem->title }}</td>
			<td>{{ @newsitem->spec }}</td>
			<td>{{ @newsitem->published }}</td>
		</tr>
		</repeat>
		</table>
		<a href="/{{ @adminpage }}/news/new" class="btn btn-primary">New item</a>
	  </div>
	</div>
  </div>
</main>