<main id="main" class="main-page">
  <div class="container">
	<div class="row">
	  <div class="col-12 col-sm-10">
		<h1 class="my-4">Pages </h1>
		<p><a href="/{{ @adminpage }}/page/newpage" class="btn btn-primary">Add new page</a></p>
		<table id="list" class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col">url</th>
					<th scope="col">title</th>
					<th scope="col">redirect</th>
					<th scope="col">show in menu</th>
					<th scope="col">published</th>
					<th scope="col">searchable</th>
					<th scope="col">parent page</th>
					<th scope="col">edit</th>
				</tr>
			</thead>
			<tbody>
			<repeat group="{{ @pages }}" value="{{ @page }}">
				<tr onclick="window.document.location='/{{ @adminpage }}/page/{{ @page.id }}';" style="cursor: pointer;">
					<td>{{ @page.alias }}</td>
					<td>{{ @page.pagetitle }}</td>
					<td><check if="{{ @page.type=='reference' }}">{{ @page.content }}</check></td>
					<td>{{ (@page.hidemenu==0?'yes':'no') }}</td>
					<td>{{ (@page.published==1?'yes':'no') }}</td>
					<td>{{ (@page.searchable==1?'yes':'no') }}</td>
					<td>{{ @page.parent_title }}</td>
					<td><a href='/{{ @adminpage }}/page/{{ @page.id }}'>EDIT </a></td>
				</tr>
			</repeat>
			</tbody>
		</table>
	  </div>
	</div>
  </div>
</main>